{%extends 'base.html'%}

{%block body%}



<h2>All Products</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Productline</th>
      <th scope="col">Scale</th>
      <th scope="col">Vendor</th>
      <th scope="col">In Stock</th>
      <th scope="col">Buy Price</th>
      <th scope="col">MSRP</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for product in products %}
    <tr>
      <td>{{product.productCode}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.productLine}}</td>
      <td>{{product.productScale}}</td>
      <td>{{product.productVendor}}</td>
      <td>{{product.quantityInStock}}</td>
      <td>{{product.buyPrice}}</td>
      <td>{{product.MSRP}}</td>
      <td>
        <a class="btn btn-outline-secondary" href="/products/edit?productCode={{product.productCode}}">✏️</a>
        <form action="/products/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="productCode" id="productCode" value="{{product.productCode}}">
          <a class="btn btn-outline-secondary" href="#" onclick="deleteProduct(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>

{%endblock%}