{%extends 'base.html'%}

{%block body%}

<h2>Edit Order</h2>

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    {{form.orderNumber}}

    <div class="mb-3">
        <label for="orderDate" class="form-label">Order Date</label>
        {{form.orderDate(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="requiredDate" class="form-label">Required Date</label>
        {{form.requiredDate(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="shippedDate" class="form-label">Shipped Date</label>
        {{form.shippedDate(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        {{form.status(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="comments" class="form-label">Comments</label>
        {{form.comments(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="customer" class="form-label">Customer</label>
        {{form.customer(class_="form-control")}}
    </div>

    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Order Items:</h2>
<a href="/orderdetails/add" class="btn btn-outline-success">➕ Add New Order Item</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">LineNumber</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price/Piece</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for detail in order_details %}
        <tr>
            <td>{{detail.orderLineNumber}}</td>
            <td>{{detail.productCode}}</td>
            <td>{{detail.quantityOrdered}}</td>
            <td>{{detail.priceEach}}</td>
            <td>
                <a class="btn btn-outline-secondary" href="/orderdetails/edit?orderNumber={{detail.orderNumber}}&productCode={{detail.productCode}}">✏️</a>
                <form action="/orderdetails/delete" method="post" style="display: inline;">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="orderNumber" id="orderNumber" value="{{detail.orderNumber}}">
                  <input type="hidden" name="productCode" id="productCode" value="{{detail.productCode}}">
                  <a class="btn btn-outline-secondary" href="#" onclick="deleteDetailOrder(this); return false;">🗑️</a>
                </form>
              </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock%}